<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="../static/style.css" />
    <link rel="stylesheet" href="../static/globals.css" />
  </head>
  <body>
    <div class="desktop">
      <div class="div">
        <div class="overlap">
          <div class="overlap-group">
            <div class="overlap-2">
              <div class="frame">
                <div class="navbar">
                  <div class="text-wrapper"><a href='index.html' style="color: #356d8e;">HOME</a></div>
                  <div class="text-wrapper-2"><a href='./contactUs.html' style="color: #356d8e;">CONTACT US</a></div>
                  <div class="text-wrapper"><a href='#' style="color: #356d8e;">ABOUT</a></div>
                  <div class="text-wrapper-3"><a href='#' style="color: #356d8e;">SERVICES</a></div>
                  <div class="text-wrapper-4"><a href='./patientstories.html' style="color: #356d8e;">PATIENT STORIES</a></div>
                </div>
              </div>
              <!-- <div class="logoutbutton">
                <div class="div-wrapper"><div class="text-wrapper-5">LOG OUT</div></div>
              </div> -->
            </div>
            <img class="icon-city" src="../static/img/icon-city.png" />
          </div>
          <div class="KNOW-SYMPTOMS-wrapper"><div class="KNOW-SYMPTOMS"><a href="know_symptoms.html" style="color: #356d8e;">KNOW&nbsp;&nbsp;SYMPTOMS</a></div></div>
          <div class="text-wrapper-6">BREAST CANCER DETECTION</div>
          <p class="p">
            <br>Breast cancer is a type of cancer that develops in the breast tissue. Early detection of breast cancer is
            crucial for successful treatment.Tests and procedures used to diagnose breast cancer include a breast exam,
            mammogram, breast ultrasound, and biopsy.
          </p>
          <div class="overlap-3">
            <div class="text-wrapper-7">YOUR HEALTH IS IMPORTANT</div>
            <img class="icon-cardiogram" src="../static/img/icon-cardiogram.png" />
          </div>
          <div class="toolboxright">
            <div class="overlap-4">
              <div class="rectangle"></div>
              <div class="rectangle-2"></div>
              <div class="text-wrapper-8">SYMPTOM TOOLS</div>
              <img class="line" src="../static/img/line-3.svg" />
              <img class="img" src="../static/img/line-3.svg" />
              <img class="line-2" src="../static/img/line-3.svg" />
              <div class="text-wrapper-9">DIAGNOSTICS</div>
              <div class="text-wrapper-10"><a href="./predict.html">DIAGNOSIS TOOLS</a></div>
              <div class="text-wrapper-11"><a href="./su.html">SUPPORT US</a></div>
              <div class="rectangle-3"></div>
              <div class="text-wrapper-12">GET MORE INFO</div>
              <img class="icon-person" src="../static/img/icon-person.png" />
              <img class="icon-medicines" src="../static/img/icon-medicines.png" />
              <img class="icon-stethoscope" src="../static/img/icon-stethoscope.png" />
            </div>
          </div>
        </div>
        <div class="overlap-5">
          <div class="frame-2">
            <div class="ellipse"></div>
            <div class="ellipse"></div>
            <div class="ellipse"></div>
            <div class="ellipse"></div>
            <div class="ellipse"></div>
          </div>
          <img class="heart" src="../static/img/heart.svg" />
          <img class="chart-bars" src="../static/img/chart-bars.svg" />
          <img class="suggestions" src="../static/img/suggestions.png" />
          <img class="icon-notes" src="../static/img/icon-notes.png" />
          <img class="group" src="../static/img/group-1.png" />
        </div>
        <div class="text-wrapper-13"><a href="./datasetdetails.html" style="color: #e42a75;">Support Groups</a></div>
        <div class="text-wrapper-14"><a href="./sf.html" style="color: #e42a75;">Suggestions</a></div>
        <div class="text-wrapper-15"><a href="./datasetdetails.html" style="color: #e42a75;">Dataset Details</a> </div>
        <div class="text-wrapper-16"><a href="./researchDetail.html" style="color: #e42a75;">Research details</a></div>
        <div class="text-wrapper-17"><a href="./terms2.html" style="color: #e42a75;">Terms and Conditions</a></div>
      </div>
    </div>
  </body>
</html>
