
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en" >
	<head>
		<meta http-equiv="content-type" content="text/html" charset="utf-8" />
		<title>know_symptoms</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="" >
		<link rel="StyleSheet" href="../static/know_symptoms.css" />
		<script src="https://secure.exportkit.com/cdn/js/ek_googlefonts.js?v=6"></script>
		<!-- Add your custom HEAD content here -->

	</head>
	<body>
		<div id="content-container" >
			<div  nameid="KNOW SYMPTOMS"  id="_bg__know_symptoms"  ></div>
			<img src="../static/skins/rectangle_20.png"  nameid="Rectangle 20"  id="rectangle_20" />
			<div  nameid="PAIN"  id="pain" >
				PAIN
			</div>
			<div  nameid="CHANGE IN NIPPLE"  id="change_in_nipple" >
				CHANGE IN NIPPLE
			</div>
			<div  nameid="REDNESS"  id="redness" >
				REDNESS
			</div>
			<div  nameid="CHANGE IN SIZE"  id="change_in_size" >
				CHANGE IN SIZE
			</div>
			<div  nameid="NIPPLE DISCHARGE"  id="nipple_discharge" >
				NIPPLE DISCHARGE
			</div>
			<div  nameid="LUMPS"  id="lumps" >
				LUMPS
			</div>
			<img src="../static/skins/navbar.png"  nameid="navbar"  id="navbar" />

			<div id="group_3"  nameid="Group 3"  >
				<div  nameid="Group 3"  id="_bg__group_3_ek1"  ></div>

				<div id="group_2"  nameid="Group 2"  >
					<div  nameid="Group 2"  id="_bg__group_2_ek1"  ></div>

					<div id="frame_3"  nameid="Frame 3"  >
						<div  nameid="Frame 3"  id="_bg__frame_3_ek1"  ></div>

						<div id="frame_1"  nameid="Frame 1"  >
							<div  nameid="Frame 1"  id="_bg__frame_1_ek1"  ></div>
							<a id="_home_link" href="index.html" >
							<div  nameid="HOME"  id="_home" >
								HOME
							</div>
							</a>
							<a id="_home_link" href="./index.html" >
							<div  nameid="CONTACT US"  id="contact_us" >
								
								CONTACT US 
								
							</div>
							</a>

							<a id="_home_link" href="index.html" >
							<div  nameid="ABOUT"  id="about" >
								ABOUT
							</div>
							</a>
							<a id="_home_link" href="index.html" >
							<div  nameid="SERVICES"  id="services" >
								SERVICES
							</div>
						</a>
						<a id="_home_link" href="patientstories.html" >
							<div  nameid="PATIENT STORIES"  id="patient_stories" >
								PATIENT STORIES
							</div>
						</a>

						</div>

					</div>

					<!-- <div id="logoutbutton"  nameid="logoutbutton"  >
						<div  nameid="logoutbutton"  id="_bg__logoutbutton_ek1"  ></div>
						<div  nameid="Rectangle 1"  id="rectangle_1"  ></div>
						<div  nameid="LOG OUT"  id="log_out" >
							LOG OUT
						</div>

					</div> -->

				</div>

				<div id="____icon__city_"  nameid=" icon "City""  >
					<div  nameid=" icon "City""  id="_bg______icon__city__ek1"  ></div>

					<div id="group"  nameid="Group"  >
						<div  nameid="Group"  id="_bg__group_ek1"  ></div>
						<img src="../static/skins/vector.png"  nameid="Vector"  id="vector" />
						<img src="../static/skins/vector_ek1.png"  nameid="Vector"  id="vector_ek1" />
						<img src="../static/skins/vector_ek2.png"  nameid="Vector"  id="vector_ek2" />
						<img src="../static/skins/vector_ek3.png"  nameid="Vector"  id="vector_ek3" />
						<img src="../static/skins/vector_ek4.png"  nameid="Vector"  id="vector_ek4" />
						<img src="../static/skins/vector_ek5.png"  nameid="Vector"  id="vector_ek5" />
						<img src="../static/skins/vector_ek6.png"  nameid="Vector"  id="vector_ek6" />
						<img src="../static/skins/vector_ek7.png"  nameid="Vector"  id="vector_ek7" />
						<img src="../static/skins/vector_ek8.png"  nameid="Vector"  id="vector_ek8" />
						<img src="../static/skins/vector_ek9.png"  nameid="Vector"  id="vector_ek9" />

					</div>

				</div>

			</div>
			<img src="../static/skins/rectangle_24.png"  nameid="Rectangle 24"  id="rectangle_24" />
			<img src="../static/skins/rectangle_25.png"  nameid="Rectangle 25"  id="rectangle_25" />
			<img src="../static/skins/rectangle_26.png"  nameid="Rectangle 26"  id="rectangle_26" />
			<img src="../static/skins/rectangle_27.png"  nameid="Rectangle 27"  id="rectangle_27" />
			<img src="../static/skins/rectangle_28.png"  nameid="Rectangle 28"  id="rectangle_28" />
			<img src="../static/skins/rectangle_29.png"  nameid="Rectangle 29"  id="rectangle_29" />
			<div  nameid="Ellipse 11"  id="ellipse_11"  ></div>
			<div  nameid="BREAST CANCER"  id="breast_cancer" >
				BREAST<br/><br/>CANCER
			</div>
			<img src="../static/skins/arrow_1.png"  nameid="Arrow 1"  id="arrow_1" />
			<img src="../static/skins/arrow_2.png"  nameid="Arrow 2"  id="arrow_2" />
			<img src="../static/skins/arrow_5.png"  nameid="Arrow 5"  id="arrow_5" />
			<img src="../static/skins/arrow_4.png"  nameid="Arrow 4"  id="arrow_4" />
			<img src="../static/skins/arrow_6.png"  nameid="Arrow 6"  id="arrow_6" />
			<img src="../static/skins/arrow_3.png"  nameid="Arrow 3"  id="arrow_3" />

		</div>
	</body>
</html>