<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="../static/patientglobals.css" />
    <link rel="stylesheet" href="../static/patientstyles.css" />
  </head>
  <body>
    <div class="desktop">
      <div class="overlap-wrapper">
        <div class="overlap">
          <div class="rectangle"></div>
          <img class="screenshot" src="../static/img/screenshot-2023-11-17-075057-1.png" />
          <div class="group">
            <div class="overlap-group">
              <div class="overlap-group-wrapper">
                <div class="div">
                  <div class="frame">
                    <div class="frame-2">
                      <div class="text-wrapper"><a href='./index.html' style="color: #356d8e;">HOME</a></div>
                      <div class="text-wrapper-2"><a href='./contactUs.html' style="color: #356d8e;">CONTACT US</a></div>
                      <div class="text-wrapper"><a href='' style="color: #356d8e;">ABOUT</a></div>
                      <div class="text-wrapper-3"><a href='' style="color: #356d8e;">SERVICES</a></div>
                      <div class="text-wrapper-4"><a href='./patientstories.html' style="color: #356d8e;">PATIENT STORIES</a></div>
                    </div>
                  </div>
                  <div class="logoutbutton">
                    <div class="div-wrapper"><div class="text-wrapper-5">LOG OUT</div></div>
                  </div>
                </div>
              </div>
              <img class="icon-city" src="../static/img/icon-city.png" />
            </div>
          </div>
          <img class="ellipse" src="../static/img/ellipse-8.png" />
          <img class="img" src="../static/img/ellipse-10.png" />
          <img class="ellipse-2" src="../static/img/ellipse-9.png" />
          <p class="christina-thanks-to">
            <span class="span">Christina:<br /></span>
            <span class="text-wrapper-6"
              >Thanks to this team,I was able to identify my problem earlier and within no time I got a surgery,I
              would never be able to detect my cancer in earlier stages without this team.</span
            >
          </p>
          <p class="angela-i-never-knew">
            <span class="span" style="font-family: Saira Condensed, Helvetica;font-weight: 700;">Christina:<br /></span>
            <span class="text-wrapper-8" style="font-family: Saira Condensed, Helvetica;font-weight: 700;"
              >Thanks to this team,I was able to identify my problem earlier and within no time I got a surgery,I
              would never be able to detect my cancer in earlier stages without this team.</span
            >
          </p>
          <!-- <img
            class="angela-i-never-knew"
            src="img/angela-i-never-knew-there-was-such-a-thing-called-as-breast-can.png"
          /> -->
          <p class="leno-valentina-seems">
            <span class="span">Leno Valentina:<br /></span>
            <span class="text-wrapper-7"
              >Seems I have breast cancer from a long time,but was hesitant to go to doctor,Checked this site
              out and found out my cancer is past its early stage, Recovery was tought but would have been
              impossible without this team.</span
            >
          </p>
        </div>
      </div>
    </div>
  </body>
</html>
